@model IEnumerable<CookIt.Web.ViewModels.ShoppingCart.CartItemsViewModel>

@{
    ViewData["Title"] = "Shopping Cart";
}

    <div class="card" style="background: #eee">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-12 mb-3">
                    <div class="h3 mt-3 centered">
                        Your Shopping cart
                    </div>
                    @if (Model.Count() != 0)
                    {

                        <div class="container">
                            <div class="card">
                                <table class="table table-hover shopping-cart-wrap">
                                    <thead class="text-muted bg-dark">
                                        <tr>
                                            <th scope="col">Recipe</th>
                                            <th scope="col" width="150">Portions</th>
                                            <th scope="col" width="500" class="text-center">Price</th>
                                            <th scope="col" width="400" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cartItem in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <figure class="media">
                                                        <div class="img-wrap"><img src="@cartItem.Image" class="img-thumbnail img-sm"></div>
                                                        <figcaption class="media-body">
                                                            <h6 class="title text-truncate">@cartItem.Name</h6>
                                                            <dl class="param param-inline small">
                                                                <dt>Ingredients: </dt>
                                                                <dd>@cartItem.ListOfIngredients</dd>
                                                            </dl>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <span class="text-success pl-4"> <i class="h5">@cartItem.Portions</i> <i class="fa fa-users"></i></span>
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <var class="price text-center">@cartItem.Price<i class="fa fa-euro fa-1x"></i></var>
                                                    </div> <!-- price-wrap .// -->
                                                </td>
                                                <td class="text-right">
                                                    <a href="/Recipes/Details/@cartItem.Id" class="btn btn-success"> Details</a>
                                                    <a href="/ShoppingCart/RemoveFromCart/@cartItem.Id" class="btn btn-danger ml-2"> Remove ×</a>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center">
                                                <span><i class="h3">Total:  </i>  <i class="h3" style="color:#ff0000">@Model.Sum(x => x.Price).ToString("F2")</i> <i class="fa fa-euro fa-2x" style="color: #ff0000"></i></span>
                                            </td>
                                            <td class="text-right">
                                                <a href="/Orders/Checkout" class="btn btn-primary w-100">Checkout</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- card.// -->
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-primary ml-5 mr-5" role="alert">
                            You have no items in the shopping cart.
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>