@page
@model CookIt.Web.Areas.Identity.Pages.Account.Manage.AddressesModel
@{
    ViewData["Title"] = "Addresses";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
    var addresses = Model.Addresses.ToList();
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <h4 class="centered">Currently registered addresses:</h4>
    @if (addresses.Count == 0)
    {
        <div class="col-md-12 pt-2">
            <div class="alert alert-dark" role="alert">
                You have no registered addresses.
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12 pt-2">
            <div class="table-responsive">
                <table class="table table-bordered border-info">
                    <thead class="border-danger">
                        <tr>
                            <th scope="auto">#</th>
                            <th scope="auto">Address</th>
                            <th scope="auto">Description</th>
                            <th scope="auto">City</th>
                            <th scope="auto">City Code</th>
                            <th scope="auto">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < addresses.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>@addresses[i].StreetAddress</td>
                                <td>@addresses[i].Description</td>
                                <td>@addresses[i].City</td>
                                <td>@addresses[i].CityCode</td>
                                <td>
                                    <form method="post">
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" asp-page-handler="DeleteAddress" asp-route-id="@addresses[i].Id" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="d-flex justify-content-center">
            <h4>Add address</h4>
        </div>

        <form id="address-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.StreetAddress"></label>
                <input asp-for="Input.StreetAddress" class="form-control" />
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" />
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CityCode">City Code</label>
                <input asp-for="Input.CityCode" class="form-control" />
                <span asp-validation-for="Input.CityCode" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button id="update-profile-button" type="submit" class="btn btn-primary">Add Address</button>
            </div>
        </form>
    </div>
</div>

